[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
pylint = "*"
pydocstyle = "*"
pytest = "*"
awscli = "*"
aws-sam-cli = "*"
boto3 = "*"

[packages]

[requires]
python_version = "3.7.0"
